In [2]:
import pandas as pd

In [4]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [12]:
# Seleção por colunas
print(df['c1'])
type(df['c1'])

l1     1
l2     5
l3     8
l4    13
Name: c1, dtype: int64

pandas.core.series.Series

In [11]:
# Seleção de 2 ou + colunas
print(df[['c3','c1']])
type(df[['c3','c1']])

    c3  c1
l1   3   1
l2   7   5
l3  11   8
l4  15  13

pandas.core.frame.DataFrame

In [17]:
# Realiza a seleção por linha
df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12

In [18]:
# Seleção por linha + colunas
df[1:][['c3','c1']]

    c3  c1
l2   7   5
l3  11   8
l4  15  13

In [21]:
print(df)
df.loc[['l3','l2']]

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

    c1  c2  c3  c4
l3   8  10  11  12
l2   5   6   7   8

In [23]:
# Realiza a seleção para encontrar o valor que está na linha e coluna especifica 
df.loc['l1','c2']

2

In [25]:
#Pega indices numericos das linhas e colunas
df.iloc[0, 1]

2

In [26]:
# Seleção exemplo de matriz 2x2
df.loc[['l3', 'l1'], ['c4', 'c1']]

    c4  c1
l3  12   8
l1   4   1

In [29]:
# Realizando a busca por indices e retorna como resultado o mesmo resultado da matriz anterior
df.iloc[[2, 0], [3, 0]]

    c4  c1
l3  12   8
l1   4   1